/* ! FLOATING BOX - GROUP */
.files-folders-container.blur {
  filter: blur(2px);
  pointer-events: none;
}


.folder-info-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.folder-info {
  position: fixed;
  top: 120px;

  width: 500px;
  height: 500px;
  border: 2px solid black;

  background-color: white;

  border-radius: 10px;
  top: 120px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: 0s;
  visibility: hidden;
}

.folder-info.move-up
{
  visibility: visible;
  animation: popup 0.25s ease;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
  
}


@media (max-width: 520px)
{
  .folder-info
  {
    width: 95%;
  }
}



.folder-name {
  all: unset;
  font: inherit;
  width: 100%;
  height: 10%;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(245, 245, 245);

  border-radius: 5px;
  padding-inline: 0.5em;
}

.folder-nav-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.folder-nav-button > * {
  width: 20%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  cursor: pointer;
}

.folder-nav-button > *:hover {
  background-color: var(--clr--gold);
}