


/* ! PARENT FOLDERS BOX - GROUP*/
.rectangle-2.files-folders {
  height: 77vh;
  margin: 0;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.scroll-content-folders {
  height: 77vh;
  overflow-x: hidden;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  padding: 1rem;
}

/* ? CENTER THE FOLDERS WHEN THE SCREEN IS TOO SMALL */
@media (max-width: 786px) {
  .scroll-content-folders {
    justify-content: center;
  }
}


/* ! NAVIGATION BAR FOR FOLDERS - GROUP */
.selection-bar {
  position: relative;
  
  display: flex;
  gap: 3rem;

  margin: 1em;
  z-index: 0;
}

.files-folders-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.files-folders-button:hover {
  background-color: rgb(231, 231, 231);
}

.selection-bar .search-bar
{
  all: unset;
  background-color: rgb(234, 234, 234);
  font: inherit;
  padding: 0.5em;
  height: 40px;

  border-radius: 5px;
  transition: 0.5s;
  width: 100%;
  font-weight: bold;

}


/* ! FOLDERS */
.file-1
{
  background-color: #f1eeee;
  height: 250px;
  width: 250px;
}


.title {

  padding-block: 0.4em;
  padding-inline: 1em;
  border-radius: 5px;

  margin-bottom: 1rem;
  transition: 0.3s;
}

/* ! FLOATING BOX - GROUP*/
.files-folders-container.blur {
  filter: blur(2px);
  pointer-events: none;
}

.folder-info {
  margin: 0 auto;
  position: fixed;
  top: 20%;
  left: 5%;

  width: 90vw;
  height: 500px;
  border: 2px solid black;

  background-color: white;

  border-radius: 10px;
 

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transform: translateY(200%);
  transition: 0.5s;
}

.folder-info.move-up {
  display: flex;
  transform: translateY(0);
}

.folder-name {
  all: unset;
  font: inherit;
  width: 100%;
  height: 10%;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(245, 245, 245);

  border-radius: 5px;
  padding-inline: 0.5em;
}

.folder-nav-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.folder-nav-button > * {
  width: 20%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  cursor: pointer;
  transition: 0.7s;
}

.folder-nav-button > *:hover {
  background-color: var(--clr--gold);
}
