


/* ! PARENT FOLDERS BOX - GROUP*/
.rectangle-2.files-folders {
  height: 77vh;
  margin: 0;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.scroll-content-folders {
  height: 77vh;
  overflow-x: hidden;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  padding: 1rem;
}




/* ! NAVIGATION BAR FOR FOLDERS - GROUP */
.selection-bar {
  position: relative;
  
  display: flex;
  gap: 3rem;

  margin: 1em;
  z-index: 0;
}

.files-folders-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.files-folders-button:hover {
  background-color: rgb(231, 231, 231);
}

.selection-bar .search-bar
{
  all: unset;
  background-color: rgb(234, 234, 234);
  font: inherit;
  padding: 0.5em;
  height: 40px;

  border-radius: 5px;
  transition: 0.5s;
  width: 100%;
  font-weight: bold;

}


/* ! FOLDERS */
.file-1
{
  background-color: #f1eeee;
  height: 250px;
  width: 250px;
}

/* ? CENTER THE FOLDERS WHEN THE SCREEN IS TOO SMALL */

@media (max-width: 550px) {
  .file-1 
  {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 490px) {
  .scroll-content-folders {
    justify-content: left;
  }
  .file-1 
  {
    width: 180px;
    height: 180px;
  }
}


.title {

  padding-block: 0.4em;
  padding-inline: 1em;
  border-radius: 5px;

  margin-bottom: 1rem;
  transition: 0.3s;
}


