


/* ! PARENT FOLDERS BOX - GROUP*/
.rectangle-2.files-folders {
  height: 77vh;
   overflow-y: auto;
  margin: 0;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.scroll-content-folders {
  overflow-x: hidden;
 
  display: flex;
  align-items: stretch;;
  gap: 1rem;
  flex-flow: row wrap;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
}






/* ! FOLDERS */
.file-1
{
  background-color: #f8f8f8;
  border: 1px solid #dcdcdc;
  height: 150px;
  width: 250px;
  border-radius: 10px;
}

.title
{
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: 1em
}

.folder-color
{
  background-color: #FFD400;
  height: 50%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* ? CENTER THE FOLDERS WHEN THE SCREEN IS TOO SMALL */

@media (max-width: 540px) {
  .file-1 
  {
    width: 100%;
    height: 200px;
  }
}

.title {

  padding-block: 0.4em;
  padding-inline: 1em;
  border-radius: 5px;

  margin-bottom: 1rem;
  transition: 0.3s;
}


