.parent-container-flashcards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flashcards-container {
  height: 400px;
  width: 900px;
  background-color: white;
  border: 2px solid #dedede;
  padding: 1em;
  gap: 3em;
  border-radius: 40px;
}

@media (max-width: 930px)
{
  .flashcards-container {
    width: 90%;
  }
}

.flashcards-container > textarea {
  all: unset;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
  font-size: 1.3rem;
  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 107) transparent;
  margin-top: 1em
}

.divider
{
  border-top: 1px dashed #c2c2c2;
}


.save-settings {
  height: 90px;
  background-color: white;
  border: 2px solid #dedede;

  width: 900px;

  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.save-settings > button {
  background-color: #16305a;
    color: white;

  height: 50%;
  width: 150px;
  margin-inline: 1em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

}



@media (max-width: 930px)
{
  .save-settings {
    width: 90%;
  }
}


.recent-flashcard-tag
{
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.recent-flashcard-tag::before, .recent-flashcard-tag::after
{
  content: '';
  background-color: rgb(210, 210, 210);

  width: 20%;
  height: 2px;
}


.saved-flashcards {
  width: 900px;
  border: 1px solid #dedede;
  border-radius: 20px;
  padding: 1em;
}

.saved-flashcards  > * {
  margin-block: 0.5em;
}

@media (max-width: 930px)
{
  .saved-flashcards {
    width: 90%;
  }
}



