@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.parent-container
{
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: #FDD400;


}


  


.flashycards-logo
{
    height: 140px;

    display: flex;
    align-items: end;
}

.presentation-container {
  width: 450px;
  height: 100vh;
  
  display: flex;
  justify-content: left;
  align-items: end;

}

.flashycards-text {
  font-size: 3rem;
  font-weight: bold;
}

.log-in-container {


  width: 450px;
  height: 100vh;


  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

  border-left: 1px solid black;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
}

@media (max-width: 700px) {
  .log-in-container
  {
    width: 100%;
  }

  .presentation-container
  {
    display: none;
  }

}

.log-in {
  width: 100%;
  height: 20vh;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.log-in input {

  all: unset;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: 3px;
  width: 300px;
  height: 35px;

  background-color: rgb(220, 220, 220);

  border-radius: 5px;
}

.log-in input:focus
{
  background-color: white;
  border: 2px solid #FDD400
}


.signup {
  display: flex;
  justify-content: center;
}

.signup-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.signup-link:hover {
  color: #FFD400;
}


.log-in-button-container 
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;

}


.log-in-button-container  > *
{
    
    width: 300px;
    height: 50px;
    font-size: 1.5rem;

    cursor: pointer;

    color: black;
    background-color: #FDD400;
    border-radius: 3px;
    border: 0.5px solid black;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-button-container > *:hover
{
    background-color: transparent;
    border-radius: 3px;
    border: 0.5px solid #FDD400;
    background-color: #ffe873;
    transform: translateY(-2px);
    
}

.container-2 > *
{
  margin-bottom: 1em;
}
