@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;

}


.parent-container {
  width: 100%;
  min-height: 100vh;

  background-color: #FDD400;

  display: flex;
  justify-content: space-between;

}



.flashycards-logo {
  height: 140px;


}

.presentation-container {

  height: 100vh;


}

.flashycards-text {
  font-size: 3rem;
  font-weight: bold;
}

.log-in-container {


  width: 450px;
  min-height: 100vh;

  overflow-y: auto;




  border-left: 1px solid black;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
}

@media (max-width: 800px) {
  .log-in-container {
    width: 100%;
  }

  .presentation-container {
    display: none;
  }



}

.log-in {
  width: 100%;
  height: 20vh;
  margin-block: 10em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.log-in input {

  all: unset;
  font-family: "Space Mono", monospace;
  font-weight: 550;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: 3px;
  height: 35px;
  width: 340px;
  margin-bottom: 1.5em;
  transition: 0.2s;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;

}

@media (max-width: 410px) {
  .log-in input {
    width: 80%;
  }

}

.log-in input:focus {
  background-color: white;
  border: 1px solid #FDD400;
}


.signup {
  display: flex;
  justify-content: center;
}


.signup-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.signup-link:hover {
  color: #FFD400;
}


.log-in-button-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 1rem;

  margin-bottom: 1em;



}


.log-in-button {

  width: 300px;
  height: 50px;
  font-size: 1.5rem;

  cursor: pointer;

  color: black;
  background-color: #FDD400;
  border-radius: 50px;
  border: 0.5px solid black;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 410px) {
  .log-in-button {
    width: 70%;
  }
}


.log-in-button:hover {
  border: 0;
  background-color: #eeeeee;
  transform: translateY(-2px);

}

.container-2>* {
  margin-bottom: 1em;
}

.login-sign {
  margin-bottom: 0.5em;
  width: 360px;
  font-weight: 600;;

}

@media (max-width: 410px) {

  form .login-sign {
    width: 320px;
  }
}

.visibility-container {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: right;
}


.visibility-container img {
  position: absolute;
  top: 13px;
  cursor: pointer;
}

@media (max-width: 410px) {
  .visibility-container img {
    right: 15px;
  }
}

@media (max-width: 390px) {
  .visibility-container img {
    right: 20px;
  }
}

.login-error-message {
  color: red;
  margin: 0 auto;
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}


.login-error-message.activate {
  visibility: visible;

}