@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.flashycards-logo
{
    height: 140px;
}

.flashycards-logo {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashycards-text {
  font-size: 2rem;
}

.log-in-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  height: 65vh;
  margin: 1em auto;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .log-in-container
  {
    width: 400px;
  }
  
}

.log-in {
  width: 100%;
  height: 20vh;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.log-in > * {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: 3px;
  width: 70%;

}


.signup {
  display: flex;
  justify-content: center;
}

.signup-link {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.signup-link:hover {
  color: #FFD400;
}

.log-in-button-container 
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;

}


.log-in-button-container  > *
{
    
    width: 70%;
    height: 50px;
    font-size: 1.5rem;

    cursor: pointer;

    color: black;
    background-color: #FDD400;
    border-radius: 3px;
    border: 0.5px solid black;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-button-container > *:hover
{
    background-color: transparent;
    border-radius: 3px;
    border: 0.5px solid #FDD400;
    background-color: #ffe873;
    transform: translateY(-2px);
    
}

.container-2 > *
{
  margin-bottom: 1em;
}
