.hamburger-menu {
  width: 30px;
  height: 30px;

  background-color: var(--clr--bg-color);

  transition: all transform 0.3s ease 0s;

  margin-left: 1em;
  right: 15px;

  cursor: pointer;
  transition: 0.4s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.hamburger {
  width: 30px;
  /* total width of the icon */
  height: 22px;
  /* total height for 3 bars with spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger>* {
  width: 100%;
  /* fill full hamburger width */
  height: 3px;
  /* thickness of each bar */
  background: #333;
  /* color of bars (change if your background is dark) */
  border-radius: 3px;
  transition: 0.3s;
}


.check-box {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}

/* .three-dashes {
    position: relative;
    left: 5px;
}

.less-than-sign {
    position: relative;
    right: 8px;
} */

.hamburger-menu:hover {
  border-color: black;
  animation: shape-shifting 6s infinite;
}

/* !|| NAVIGATION MENU FOR GOING TO DIFF SITES */
.menu {
  position: fixed;
  top: 95px;
  left: -15px;

  background-color: white;

  height: 100%;
  width: 300px;

  transform: translate(-100%, -95px);
  transition: transform 0.3s ease;
  border: 1px solid #dedede;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;

  background-color: white;
 

  z-index: 0;
 


}

.menu ul {
  margin-top: 5em;
}


nav img {
  margin-inline: 0.5em;

}


.menu.move-right {
  transform: translate(14px, -95px);
  backdrop-filter: blur(50px);
  visibility: visible;
}

.nav-text {
  color: rgb(88, 88, 88);
  font-size: 1.1rem;
  justify-content: left;
  transition: all 0.2s;
}

.nav-text:hover {
  background-color: rgb(255, 255, 173);
}

nav ul>*:hover {
  border-radius: 10px;
}

.menu li {
  width: 300px;
  height: 50px;

  margin-bottom: 1em;

  list-style: none;
  position: relative;
  transition: all 0.3s;

  overflow: hidden;
}




ul a {
  display: block;
  text-decoration: none;
  color: black;

  height: 50px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;

  font-weight: 550;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 10px;
}



html {
  overflow-x: hidden;
}



nav ul
{
  width: 90%;
}


