@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.parent-container
{
  display: flex;
  flex-flow: nowrap row;
  height: 100vh;
}

.flashycards-logo
{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}


.sign-up-container {
    width: 450px;
    height: 100vh;
    background-color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

@media (max-width: 800px) {
  .flashycards-logo
  {
    display: none;
  }

  .sign-up-container
  {
    width: 100%;
  }
  
}

.sign-up {



  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  flex-flow: nowrap column;

  gap: 1rem;

}

.sign-up > * {
  all: unset;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;

  padding: 0.5em;
  border-radius: 3px;
  width: 300px;
  background-color: rgb(220, 220, 220);
   border-radius: 5px;
}

.sign-up >*:focus
{
  background-color: white;
  border: 2px solid #FDD400;
}

.log-in-link
{
    display: flex;
    justify-content: center;
}

.sign-up-button-and-login
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;

   
    

}


.sign-up-button
{
    width: 300px;
    height: 50px;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#FDD400;

    border-radius: 4px;
    border: 0.5px solid black;

    transition: 0.2s;

}


a
{
    text-decoration: none;
    color: black;
}

.sign-up-button:hover
{
    background-color: transparent;
    border-radius: 4px;
    border: 0.5px solid #FDD400;
    background-color: #ffe873;

    transform: translateY(-2px);
}

.gold-login
{
  transition: 0.2s;
}

.gold-login:hover
{
  color: #FDD400;

}