*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! FOLDER INFO POP UP */
.topics-folders-container.blur {
  filter: blur(2px);
  pointer-events: none;
}

/* .scroll-content {
  margin-top: 1em;
  margin-inline: 0.5em;
  width: 97%;
  overflow-y: auto;
  height: 80vh;
} */

/* !V TOPIC INFO */

.scroll-content-topics {
  display: flex;
  flex-flow: row wrap;

  gap: 1rem;
  padding: 1em;
}

@media (max-width: 600px)
{
  .scroll-content-topics
  {
    justify-content: center;
  }

  div .topic 
  {
    width: 500px;
  }
}

.topic-details-container
{
  padding: 1em;
}

.scroll-content-topics {
  display: flex;
  flex-flow: row wrap;

  gap: 1rem;
  padding: 1em;
}

.topic-color
{
  height: 101%;
  width: 40px;
  border-radius: 15px 0 0 15px;
  background-color: #ff0000;
  margin-right: 1em;
}

.topic {
  width: 250px;
  height: 100px;
  background-color: #f1eeee;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;

  border: 1px solid #dedede;
  text-decoration: none;
  color: black;
}

.topic-name {
  font-size: 1.2rem;
  width: 180px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topic-info.move-up {
  display: flex;
  transform: translateY(0);
}

.total-flashcards-count
{
  font-size: 0.9rem;

}


.empty-topic-message-container
{
  width: 100%;
  height: 77vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  opacity: 0.8;
  
}
