*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! FOLDER INFO POP UP */
.topics-folders-container.blur {
  filter: blur(2px);
  pointer-events: none;
}

/* .scroll-content {
  margin-top: 1em;
  margin-inline: 0.5em;
  width: 97%;
  overflow-y: auto;
  height: 80vh;
} */

/* !V TOPIC INFO */

.scroll-content-topics {
  display: flex;
  flex-flow: row wrap;

  gap: 1rem;
  padding: 1em;
}

@media (max-width: 600px)
{
  .scroll-content-topics
  {
    justify-content: center;
  }

  div .topic 
  {
    width: 500px;
  }
}


.scroll-content-topics {
  display: flex;
  flex-flow: row wrap;

  gap: 1rem;
  padding: 1em;
}

.topic-color
{
  height: 101%;
  width: 30px;
  border-radius: 30px 0 0 30px;
  background-color: #FFD400;
  margin-right: 1em;
}

.topic {
  width: 400px;
  height: 130px;
  background-color: #f1eeee;
  border-radius: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;

  border: 1px solid #dedede;
  text-decoration: none;
  color: black;
}


.topics-container .topic .topic-name {
  font-size: 1.5rem;
}

.topic-info.move-up {
  display: flex;
  transform: translateY(0);
}



