*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topics-folders-container.blur {
  filter: blur(2px);
  pointer-events: none;
}


.topics-container {
  height: 80vh;
}

/* .scroll-content {
  margin-top: 1em;
  margin-inline: 0.5em;
  width: 97%;
  overflow-y: auto;
  height: 80vh;
} */

.topics-container .topic {
  width: 100%;
  height: 8%;
  background-color: #f1eeee;
  border-radius: 5px;
  margin-bottom: 0.5em;
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.topics-container .topic .topic-name {
  font-size: 1.5rem;
}

.text-link {
  text-decoration: none;
  color: black;
}

.all-topics {
  width: 100%;
}

.topic-info {
  position: fixed;
  top: 20%;
  left: 5%;

  width: 90%;
  height: 500px;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transform: translateY(200%);
  transition: 0.5s;
}

.topic-info.move-up {
  display: flex;
  transform: translateY(0);
}

.topic-name-input {
  font: inherit;
  width: 100%;
  height: 10%;
  font-size: 1rem;

  border: 2px solid black;
  border-radius: 5px;
  padding-inline: 0.5em;
}

.topic-nav-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topic-nav-button > * {
  width: 20%;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.7s;
}

.topic-nav-button > *:hover {
  background-color: var(--clr--gold);
}
